<!DOCTYPE html> 
<html ng-app="store">
<head>
	<title>Angular site</title>
	<!--Bootstrap CSS cdn-->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<!--My CSS-->
	<link rel="stylesheet" type="text/css" href="CSS/style.css">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous">
  	</script>
</head>


<body ng-controller="StoreController as store">
<div class="col-md-6 col-md-offset-3">
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="product in store.products | orderBy:'name'">
			<h3>
				{{product.name}}
				<em class="pull-right">{{product.price | currency}}</em>
			</h3>

			<section class="text-center">
				<img width="200" ng-src="{{product.images[0].full}}">
			</section>

			<section ng-controller="PanelController as panel">
				<ul class="nav nav-pills">
					<li ng-class="{active: panel.isSelected(1)}"> 
						<a href ng-click="panel.selectTab(1)">Description</a>
					</li>

					<li ng-class="{active: panel.isSelected(2)}"> 
						<a href ng-click="panel.selectTab(2)">Specifications</a>
					</li>

					<li ng-class="{active: panel.isSelected(3)}"> 
						<a href ng-click="panel.selectTab(3)">Reviews</a>
					</li>
				</ul>
			
			<div class="panel" ng-show="panel.isSelected(1)">
				<h4>Description</h4>
				<p>{{product.description}}</p>
			</div>
			<div class="panel" ng-show="panel.isSelected(2)">
				<h4>Specification</h4>
				<blockquote>None yet</blockquote>
			</div>
			<div class="panel" ng-show="panel.isSelected(3)">
				<h4>Reviews</h4>
				<blockquote ng-repeat="review in product.reviews">
					<b>Stars: {{review.stars}}</b>
					<p>{{review.body}}</p>
					<p class="text-muted text-right">{{review.author}}</p>
				</blockquote>

	 <!-- Form -->
				<form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
										ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
					<p class="text-muted">Live preview</p>
					<blockquote>
						<p><b>Stars: {{reviewCtrl.review.stars}}</b></p>
						<p>{{reviewCtrl.review.body}}</p>
						<p>by: {{reviewCtrl.review.author}}</p>
					</blockquote>
					<p><select ng-model="reviewCtrl.review.stars" required>
						<option value="1">1 star</option>
						<option value="2">2 stars</option>
						<option value="3">3 stars</option>
						<option value="4">4 stars</option>
						<option value="5">5 stars</option>
					</select></p>
					<p><textarea ng-model="reviewCtrl.review.body" required></textarea></p>
					<p><label>by:</label></p>
					<input ng-model="reviewCtrl.review.author" type="email" required/>
					<div>review form is {{reviewForm.$valid}} </div>
					<input class="btn btn-primary" type="submit"  value="Submit"/>
				</form>
			</div>
			</section>
		</li>
	</ul>
</div>

		  	<!--Angular-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
	<script type="text/javascript" src="Script/app.js"></script>
</body>




</html>